<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.endofterm.mapper.UserMapper">

    <resultMap id="userMap" type="com.example.endofterm.pojo.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="sum" property="sum"/>
        <result column="noBack" property="noBack"/>
        <result column="identity" property="identity"/>
        <association property="role" javaType="com.example.endofterm.pojo.Role">
            <id column="role_id" property="role_id"/>
            <result column="name" property="name"/>
        </association>
    </resultMap>
    <!--List<User> getAllUser();-->
    <select id="getAllUser" resultMap="userMap">
        SELECT u.*, r.*
        FROM user u
        left join role r on u.identity = r.role_id
        order by u.identity asc;
    </select>

    <!--int addUser(User user);-->
    <insert id="addUser" parameterType="com.example.endofterm.pojo.User">
        insert
        into user(id, username, password, sum, identity, noBack)
        values (null, #{username}, #{password}, 0, #{identity}, 0)
    </insert>

    <!--User getUserById(int userId);-->
    <select id="getUserById" resultMap="userMap">
        SELECT u.*, r.*
        FROM user u
        left join role r on u.identity = r.role_id
        where u.id = #{userId};
    </select>
    <!--User getUserByName(String username);-->
    <select id="getUserByName" resultMap="userMap">
        SELECT u.*, r.*
        FROM user u
        left join role r on u.identity = r.role_id
        where u.username like concat('%', #{username}, '%')
    </select>
    <!--int deleteUserById(Integer userId);-->
    <delete id="deleteUserById">
        delete
        from user
        where id = #{userId};
    </delete>
    <!--List<User> getUserByCondition(User user);-->
    <select id="getUserByCondition" resultMap="userMap">
        SELECT u.*, r.*
        FROM user u
        left join role r on u.identity = r.role_id
        <where>
            <trim suffixOverrides="AND"></trim>
            1=1
            <if test="id != null and id!=''">
                AND u.id = #{id}
            </if>
            <if test="username != null and username!=''">
                AND u.username like concat('%', #{username}, '%')
            </if>
            <if test="identity != null and identity!=''">
                AND  u.identity= #{identity}
            </if>

        </where>
    </select>

    <!--int updateUser(@Param("userId") Integer userId, @Param("user") User user);-->
    <update id="updateUser" parameterType="com.example.endofterm.pojo.User">
        update user
        <set>
            <if test="user.username != null and user.username!=''">
                username
                =
                #{user.username},
            </if>
            <if test="user.password != null and user.password!=''">
                password
                =
                #{user.password},
            </if>
            <if test="user.sum != null ">
                sum=
                #{user.sum},
            </if>
            <if test="user.identity != null">
                identity=
                #{user.identity},
            </if>
            <if test="user.noBack != null">
                noBack
                =
                #{user.noBack},
            </if>
            <trim suffixOverrides=","></trim>
        </set>
        where id=#{userId}
    </update>
</mapper>